@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rufina:wght@400;700&display=swap");

:root {
  /* Nav */
  --nav-height: 6.32rem;
  --nav-padding-y: 1.58rem;
  --nav-padding-x: 8.78rem;

  /* Colors */
  --primary-font-color: #fff;
  --secondary-color: #09c6de;
  --section-heading: #7dbdf8;
  --background-color: #11121b;
  --purple-color: #460389;
  --text-color: #333;
  --border-color: #dadada80;

  /* Typography */
  --font-family-i: "Inter", serif;
  --font-family-r: "Rufina", serif;
  --font-size-base: 1.38rem;
  --font-size-btn: 1.41rem;
  --font-size-heading: 2.4rem;
  --about-font-size: 2.1rem;
  --about-font-size-sm: 1.23rem;

  /* Breakpoints for responsiveness */
  --breakpoint-x-lg: 1500px;
  --breakpoint-lg: 1328px;
  --breakpoint-md: 1024px;
  --breakpoint-sm: 768px;

  /* Spacing */
  --space-xs: 0.8rem;
  --space-sm: 2.1rem;
  --space-md: 2.4rem;
  --space-lg: 4.8rem;

  /* Shadows & Transitions */
  --box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1);
  --transition-speed: 0.3s;
  --glow-text-shadow: 0 0 10px #09c6de, 0 0 20px #09c6de, 0 0 30px #09c6de;

  /* Gradient */
  --radial-background-color: ;
  --btn-gradient: linear-gradient(90deg, #09c6de, #460389);
  --nav-gradient: linear-gradient(to bottom, #11121b 100%, #00000000 0%);
  --linear-gradient: linear-gradient(#09c6de, #460389);
  --header-background-gradient: radial-gradient(
      ellipse at center,
      #12d5f54d,
      #12d5f500 80%
    ),
    radial-gradient(ellipse at top left, #11121b, #0f111a);
  --other-background-gradient: radial-gradient(
      ellipse at center,
      #89dce94d,
      #12d5f500 80%
    ),
    radial-gradient(ellipse at top left, #11121b, #0f111a);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-size: var(--font-size-base);
  color: black;
  font-family: var(--font-family-i);
}

/* GENERAL STYLING */
a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
}

img {
  width: 100%;
  height: 100%;
}

/* BUTTONS */
.btnPrimary {
  cursor: pointer;
  font-size: var(--font-size-btn);
  font-weight: 600;
  color: var(--primary-font-color);
  background: var(--btn-gradient);
  transition: all var(--transition-speed) ease-in-out;
}

.btnPrimary:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.action-btn {
  width: 158px;
  white-space: nowrap;
  height: 4.61rem;
  min-width: 10.54rem;
  border-radius: 2.11rem;
  padding: 1.41rem 2.75rem;
}

.scheduleBtn {
  width: 16rem;
  height: 3.16rem;
  min-width: 10.54rem;
  padding: 0.83rem 2.75rem 0.92rem 2.75rem;
  border-radius: 1.58rem;
}

.special-btn {
  background: transparent;
  border: 2px solid var(--secondary-color);
}

.special-btn:hover {
  background: var(--btn-gradient);
  border: none;
}

.hero-btns {
  display: flex;
  gap: 2.1rem;
  margin-top: 2rem;
}

/* Header */
.header {
  position: relative;
  background: var(--header-background-gradient);
  width: 100%;
  color: white;
  height: 100vh;
  padding-top: 7rem;
}

.nav-card,
.nav-banner {
  display: none;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--nav-gradient);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  height: var(--nav-height);
  padding: var(--nav-padding-y) var(--nav-padding-x);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.nav-bar-links {
  list-style: none;
  display: flex;
  gap: var(--space-sm);
  color: var(--primary-font-color);
}

.nav-bar-links li {
  transition: all var(--transition-speed) ease;
}

.contact {
  color: var(--secondary-color);
}
.nav-bar-links .active {
  color: var(--secondary-color);
}

.footer-links-lists li:hover,
.nav-bar-links-link:hover {
  color: var(--secondary-color);
  text-shadow: var(--glow-text-shadow);
}

.nav-bar-logo {
  width: clamp(12rem, 16vw, 16.95rem);
  height: 1.76rem;
}

/* HERO */
.hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.hero-heading {
  font-weight: 300;
  font-size: 4.3rem;
  color: #e5e5e5;
}

.hero-dynamic-texts {
  height: 255px;
  line-height: 255px;
  overflow: hidden;
  text-align: center;
}

.hero-dynamic-texts li {
  list-style: none;
  color: var(--primary-font-color);
  font-size: 21.1rem;
  font-weight: 800;
  position: relative;
  top: 0;
  animation: slide 7s steps(3) infinite;
  animation-delay: 1s;
  letter-spacing: 1px;
}

.hero-dynamic-texts li span {
  line-height: 255px;
}

.hero-texts {
  font-size: var(--font-size-md);
  width: 45.7rem;
  text-align: center;
  line-height: 2.8rem;
}

/* MAIN */
.main {
  background: var(--background-color);
  height: 100vh;
  width: 100%;
}

.sectionHeading {
  font-size: var(--font-size-btn);
  letter-spacing: 1.76px;
  color: var(--section-heading);
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 0.9px;
  padding-top: 10rem;
}

.sector-overview-list {
  padding-left: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: var(--space-lg);
  overflow: hidden;
  margin-top: 3rem;
}

.sector-overview-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-lg);
  animation: scrolling 6s linear infinite;
}

.sector-overview-slider-item {
  font-size: 87.83px;
  font-family: var(--font-family-r);
  color: #f6f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-lg);
}

.slider-circle::after {
  content: "";
  width: 22.4px;
  height: 22.4px;
  border-radius: 50%;
  background: var(--linear-gradient);
}

.brands {
  color: white;
  background: var(--background-color);
  width: 100%;
  padding-bottom: 2rem;
}

.brands-container {
  position: relative;
  border: 1px solid var(--border-color);
  display: grid;
  place-items: center;
  grid-template-columns: repeat(6, 1fr);
  width: 90%;
  margin: 4rem auto 0rem auto;
}

.brands-container div {
  display: grid;
  place-content: center;
  height: 100%;
}

.brands-container div {
  position: relative;
  padding: 0 3.2rem;
}

.brands-container div:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background: var(--border-color);
  height: 100%;
  width: 0.15rem;
}

.img-1 img {
  width: 93.44px;
  height: 79.34px;
}
.img-2 img {
  width: 172.47px;
  height: 50.23px;
}
.img-3 img {
  width: 170.8px;
  height: 40.91px;
}
.img-4 img {
  width: 134.92px;
  height: 43.66px;
}
/* ABOUT US */
.about {
  background-color: var(--background-color);
}

.custom-heading {
  padding: 0 1.5rem;
  font-weight: 700;
  line-height: 51.02px;
  text-align: center;
  font-size: 4.2rem;
  color: var(--primary-font-color);
  margin: 3rem 0 3.5rem 0;
  text-transform: capitalize;
}

.custom-heading div {
  background: linear-gradient(to right, #3637a0, #09c6de, #460389);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.about-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  padding-bottom: 10rem;
}

.about-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 297.29px;
  height: 414.56px;
  background: linear-gradient(to right, #7c82b11f, #11121b00);
  max-width: 474.29px;
  min-height: 147.56px;
  border-radius: 17.57px;
  margin-bottom: 0.5rem;
  text-align: center;
  border: 0.88px solid #292b3d;
  overflow: hidden;
}

.about-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  height: 100%;
  width: 100%;
  left: -1000px;
  transform: skewX(-40deg);
  z-index: 1;
}

.about-card:is(:hover, :focus-visible)::before {
  animation: shine 500ms ease;
}

.about-card-img {
  width: 175.66px;
  height: 175.66px;
}

.about-card-active {
  transform: scale(1.12);
  transition: transform 800ms ease;
}

.about-card-title {
  font-size: var(--about-font-size);
  font-weight: 500;
  line-height: 26.35px;
  color: #c7d1ea;
  padding-bottom: 14.05px;
}

.about-card-mainTexts {
  padding: 14.05px 28.11px;
}

.about-card-texts {
  color: #c7d1ea;
  font-size: var(--about-font-size-sm);
  line-height: 18.44px;
  padding: 6.35px;
}

/* SERVICE */
.service {
  background: var(--other-background-gradient);
}

.service-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 2.1rem;
  justify-items: center;
  padding-bottom: 10.5rem;
}

.service-card {
  width: 40.8rem;
  height: 26.4rem;
  border-radius: 2.11rem;
  border: solid 0.88px #242636;
  padding: 2.89rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #00000066;
}

.service-card-title {
  color: #c7d1ea;
  font-weight: 500;
  line-height: 26.35px;
  font-size: var(--about-font-size);
  line-height: 23.71px;
  margin-bottom: 7.03px;
}

.service-card-texts {
  color: #a7a7af;
  font-size: var(--about-font-size-sm);
  line-height: 23.71px;
}

/* REVIEWS */
.reviews {
  background: var(--background-color);
}

.review-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  width: 100%;
  place-items: center;
  gap: 34.19px;
  padding-bottom: 10.5rem;
}

.review-card {
  width: 402.12px;
  height: 277.66px;
  background: #26262699;
  border-top-right-radius: 27.36px;
  border: solid 0.68px #242636;
  padding: 27.36px 41.03px 41.03px 41.03px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10.94px;
}

.review-card-quote {
  width: 54.71px;
  height: 49.92px;
  align-self: flex-end;
}

.review-card-profile-img {
  width: 43.77px;
  height: 43.77px;
  position: relative;
}

.review-card-profile-img::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1.37px;
  border-radius: 50%;
  background: linear-gradient(90.95deg, #09c6de 0.81%, #460389 126.33%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.review-card-profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.review-card-profile {
  display: flex;
  gap: 8.21px;
}

.review-card-profile-name-title {
  align-self: center;
}

.review-card-profile-name {
  font-weight: 13.68px;
  line-height: 20.52px;
  font-weight: 500;
  color: #c7d1ea;
}

.review-card-profile-title {
  font-weight: 500;
  font-size: 11px;
  color: #a7a7af;
  line-height: 21px;
}

.review-card-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  color: #a7a7af;
}

/* CTA */
.cta {
  display: grid;
  padding: 83px 0;
  place-items: center;
  background: var(--other-background-gradient);
}

.cta-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 529px;
  text-align: center;
}

.cta-title {
  font-weight: 500;
  font-size: 53.36px;
  line-height: 56px;
  color: #f6f6f9;
  padding-bottom: 17.57px;
}

.cta-texts {
  padding: 0 9.27px;
  font-size: 17px;
  line-height: 25px;
  padding-bottom: 21.08px;
  color: #d4d4e1;
}

/* Footer */
.footer {
  background-color: var(--background-color);
}

.footer-apps {
  list-style: none;
  display: flex;
  gap: 21.08px;
}

.footer-apps img {
  width: 21.08px;
  height: 21.08px;
}

.footer-list-lists {
  display: flex;
  width: 70%;
  justify-content: space-around;
  text-align: center;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  padding: 7rem 2rem;
}

.footer-list-img {
  width: 180.85px;
  height: 18.45px;
  cursor: pointer;
}

.footer-img {
  width: 100%;
  height: auto;
}

.footer-links {
  font-size: 14.05px;
  color: #a7a7af;
  line-height: 19.67px;
}

.footer-links-header {
  padding-bottom: var(--space-sm);
}

.footer-links-lists {
  list-style: none;
  text-transform: capitalize;
}

.footer-links-lists li {
  padding-bottom: var(--space-xs);
}

/* ABOUT US PAGE */
.about-page {
  height: 100vh;
  width: 100%;
}
/* SERVICE PAGE */
.service-page {
  height: 100vh;
  width: 100%;
}

/* KEYFRAMES */
.slide-down {
  animation: slidedown 500ms linear forwards;
}

.slide-up {
  animation: slideup 500ms linear forwards;
}

@keyframes slide {
  100% {
    top: -765px;
  }
}

@keyframes scrolling {
  0% {
    transform: translateX(50%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@keyframes shine {
  0% {
    left: -1000px;
  }

  100% {
    left: 100%;
  }
}

@keyframes slidedown {
  100% {
    top: 0;
  }
}

@keyframes slideup {
  100% {
    top: -1000px;
  }
}

.reviews-mobile {
  display: none;
}

/* MEDIA QUERIES */
@media (max-width: 767px) {
  /* NAV */
  .nav-banner {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3em;
    z-index: 1000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /* overflow: hidden; */
  }

  .nav-card {
    position: fixed;
    top: -1000px;
    left: 0;
    width: 100%;
    padding: 3rem 4.5rem 7rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
    z-index: 1000;
    border-radius: 0 0 5rem 5rem;
  }

  .nav-bar-links {
    flex-direction: column;
    text-align: center;
  }

  .nav-bar-links li {
    margin-bottom: 3rem;
    font-size: 1.8rem;
  }

  .nav-bar-menu {
    background: none;
    width: 3rem;
    height: auto;
    cursor: pointer;
  }

  .nav-bar-close {
    width: 2.5rem;
    height: auto;
    align-self: flex-end;
    margin-bottom: 5rem;
  }

  .nav-bar-logo {
    width: 13rem;
    height: auto;
  }

  .scheduleBtn {
    width: 100%;
    max-width: 150px;
    text-align: center;
    padding: 1.8rem 0;
    display: grid;
    place-content: center;
    margin-top: 0.8rem;
  }

  .nav-bar {
    display: none;
  }

  /* HERO */
  .action-btn {
    width: 100%;
    white-space: nowrap;
    height: 4.5rem;
    min-width: 2rem;
    border-radius: 2.11rem;
    padding: 1.3rem 2rem;
    display: grid;
    place-content: center;
  }

  .scheduleBtn {
    width: 100%;
    min-width: 10rem;

    padding: 0.8rem 2.8rem 1rem 2.8rem;
  }

  .hero {
    gap: 1rem;
  }

  .hero-heading {
    font-size: var(--about-font-size);
    transform: translateY(8rem);
  }

  .hero-dynamic-texts li {
    font-size: 5.5rem;
  }

  .hero-texts {
    width: 100%;
    font-size: var(--font-size-base);
    line-height: 1.5;
    transform: translateY(-8rem);
  }

  .hero-texts,
  .hero-btns {
    transform: translateY(-8rem);
    padding: 0 2rem;
    gap: 1.2rem;
  }

  /* BRANDS */
  .sectionHeading {
    font-size: var(--font-size-base);
  }

  .sector-overview-slider-item {
    font-size: 7rem;
  }

  .brands-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 2fr);
    width: 90%;
  }

  .brands-container div {
    padding: 0 1rem;
  }

  .brands-container div:not(:last-child)::after {
    background: none;
  }

  .custom-heading {
    line-height: 1.5;
    text-align: center;
    font-size: 1.8rem;
  }

  /* ABOUT US */
  .about-container {
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    justify-items: center;
    gap: 4rem;
    width: 100%;
    margin: auto;
  }

  .about-card {
    padding: 3.5rem 0;
    width: 270px;
    height: 350px;
    min-width: 200px;
    min-height: auto;
    margin-bottom: 0rem;
  }

  .about-card-img {
    width: 14rem;
    height: auto;
  }

  .about-card-texts {
    padding: 0;
  }

  /* SERVICES */
  .service {
    background: var(--other-background-gradient);
  }

  .service-container {
    width: 100%;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(1, 6fr);
    gap: 2rem;
  }

  .service-card {
    width: 85%;
    height: auto;
    padding: 5rem 2.89rem;
  }

  .service-card-title {
    line-height: 1.5;
  }

  .service-card-texts {
    line-height: 20px;
  }

  /* REVIEWS */
  .reviews {
    display: none;
  }

  .review-container-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1.75rem;
  }
  .review-card {
    width: 100%;
    height: 350px;
    align-items: center;
    justify-content: space-around;
  }

  .review-card-quote {
    width: 2rem;
    height: auto;
    align-self: center;
    margin-bottom: 1rem;
  }

  .reviews-mobile {
    background: var(--background-color);
    display: block;
    width: 100%;
  }

  .review-btn {
    display: flex;
    gap: 3rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
  }

  .review-btn-btn {
    cursor: pointer;
  }

  .review-card-mobile-text {
    text-align: center;
  }

  /* CTA */
  .cta-title {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 3rem;
    padding-bottom: 1.3rem;
  }

  .cta-btn {
    align-self: center;
  }

  .cta-texts {
    font-size: var(--font-size-base);
    line-height: 2.5rem;
  }

  /* FOOTER */
  .footer {
    background-color: var(--background-color);
  }

  .footer-apps {
    gap: 2rem;
    align-self: center;
  }

  .footer-apps img {
    width: 2.1rem;
    height: auto;
  }

  .footer-list {
    flex-direction: column-reverse;
    padding: 3rem 1.1rem;
  }

  .footer-list-img {
    width: 13.5rem;
    height: auto;
    align-self: center;
  }

  .footer-links {
    font-size: 1.2rem;
    line-height: 1;

    display: flex;
    flex-direction: column;
  }

  .footer-list-lists {
    margin: 5rem 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
  }

  .footer-links-header {
    padding-bottom: 1.3rem;
  }
}

@media (min-width: 767px) and (max-width: 1300px) {
}

@media (min-width: 1500px) {
}

@media (max-width: 320px) {
}
